<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 8</b></center>    
<pre>

# User Defined Function

### 01) Write a function to calculate BMI given mass and height. (BMI = mass/h**2)

In [1]:
def BMICalculate(mass,height):
    return mass/height**2

BMICalculate(50,20)

0.125

### 02) Write a function that add first n numbers.

In [2]:
def fn_Add_N(n):
    return n*(n+1)/2

fn_Add_N(10)

55.0

### 03) Write a function that returns 1 if the given number is Prime or 0 otherwise.

In [17]:
def fn_Prime(n):
    if n%2==0:
        return 0
    else:
        return 1

fn_Prime(13)

1

### 04) Write a function that returns the list of Prime numbers between given two numbers.

In [44]:
def fn_List_PrimeNo(a, b):
    """Prints the prime numbers between a and b."""
    for i in range(a, b):
        if i > 1:  # Prime numbers are greater than 1
            is_prime = True
            for j in range(2, int(i ** 0.5) + 1):  # Check divisors up to the square root of i
                if i % j == 0:
                    is_prime = False
                    break
            if is_prime:
                print(i)

# Example usage
fn_List_PrimeNo(1, 15)

2
3
5
7
11
13

### 05) Write a function that returns True if the given string is Palindrome or False otherwise.

In [52]:
def fn_Palindrome(st):
    if st == st[::-1]:
        return 'true'
    else:
        return 'false'

fn_Palindrome('abcba')

'true'

### 06) Write a function that returns the sum of all the elements of the list.

In [57]:
def fn_sum_list(lt):
    return sum(lt)

fn_sum_list([1,2,3,4,5])

15

### 07) Write a function to calculate the sum of the first element of each tuples inside the list.

In [99]:
def fn_sum_1st_ele_tuple(l):
    ans = 0
    for t in l:
        ans += t[0] 
    return ans
    
t1 = (1, 2, 3)
t2 = (4,5,6)
l = []
l.append(t1)
l.append(t2)

result = fn_sum_1st_ele_tuple(l)
print(result)

5

### 08) Write a recursive function to find nth term of Fibonacci Series.

In [7]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

n = int(input("Enter the value of n: "))
result = fibonacci(n)
print(f"The {n}th Fibonacci number is: {result}")

Enter the value of n:  10

The 10th Fibonacci number is: 55

### 09) Write a function to get the name of the student based on the given rollno.
#### Example: Given dict1 = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'} find name of student whose rollno = 103

In [3]:
d = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'}
roll = int(input("Enter the Roll no: "))

def findname(d1):  
    if roll in d1.keys():
        return d1[roll]
    else:
        return "Not Found"

ans = findname(d)
ans

Enter the Roll no:  101

'Ajay'

### 10) Write a function to get the sum of the scores ending with zero.
#### Example : scores = [200, 456, 300, 100, 234, 678] 
#### Ans = 200 + 300 + 100 = 600

In [16]:
def endWithZero(l):
    a = []
    for i in l:
        if i%10==0:
            a.append(i)
    ans = sum(a)
    return ans

a = [200, 456, 300, 100, 234, 678]
ans = endWithZero(a)
print("Sum is :",ans)

Sum is : 600

### 11) Write a function to invert a given Dictionary.
#### hint: keys to values & values to keys
#### Before : {'a': 10, 'b':20, 'c':30, 'd':40}
#### After : {10:'a', 20:'b', 30:'c', 40:'d'}

In [32]:
d =  {'a': 10, 'b':20, 'c':30, 'd':40}

def invertKeyVal(d):
    k = d.keys()
    v = d.values()
    d1 = {i:j for i,j in zip(v,k)}
    return d1

print("Before :",d)
ans = invertKeyVal(d)
print("After :",ans)

Before : {'a': 10, 'b': 20, 'c': 30, 'd': 40}
After : {10: 'a', 20: 'b', 30: 'c', 40: 'd'}

### 12) Write a function to check whether the given string is Pangram or not.
#### hint: Pangram is a string containing all the characters a-z atlest once.
#### "the quick brown fox jumps over the lazy dog" is a Pangram string.

In [41]:
def pangram(s):
    alpha = set("abcdefghijklmnopqrstuvwxyz")
    s1 = set(s.lower())
    if alpha.issubset(s1):
        return "yes"
    else:
        return "no"

s = "the quick brown fox jumps over the lazy dog"
ans = pangram(s)
print(ans)

no

### 13) Write a function that returns the number of uppercase and lowercase letters in the given string. 
#### example : Input : s1 = AbcDEfgh ,Ouptput : no_upper = 3, no_lower = 5

In [78]:
def countCase(s):
    u = 0
    l = 0
    for i in s:
        if i.isupper():
            u = u + 1
    l = len(s) - u
    print("Upper is:",u)
    print("Lower is:",l)

s = "ASDFGasg"
ans = countCase(s)
ans

Upper is: 5
Lower is: 3

### 14) Write a lambda function to get smallest number from the given two numbers.

In [81]:
min_num = lambda a,b: a if a<b else b
min_num(10,-20)

-20

### 15) For the given list of names of students, extract the names having more that 7 characters. Use filter().

In [5]:
l = ['asdf','aghjhg','mnbvxbn']
a = list(filter((lambda x: len(x)<7), l))
print(a)

['asdf', 'aghjhg']

### 16) For the given list of names of students, convert the first letter of all the names into uppercase. use map().

In [13]:
l = ["alice", "bob", "charlie", "diana", "ethan"]
ans = list(map(str.title,l))
ans

['Alice', 'Bob', 'Charlie', 'Diana', 'Ethan']

### 17) Write udfs to call the functions with following types of arguments:
1. Positional Arguments
2. Keyword Arguments
3. Default Arguments
4. Variable Legngth Positional(*args) & variable length Keyword Arguments (**kwargs)
5. Keyword-Only & Positional Only Arguments

In [4]:
def student_info(name, roll_no, age):
    print(f"Name: {name}")
    print(f"Roll Number: {roll_no}")
    print(f"Age: {age}")

student_info("Alice", 101, 20)

Name: Alice
Roll Number: 101
Age: 20

In [5]:
def student_info(name, roll_no, age):
    print(f"Name: {name}")
    print(f"Roll Number: {roll_no}")
    print(f"Age: {age}")

student_info(name="Alice", roll_no=101, age=20)

Name: Alice
Roll Number: 101
Age: 20