<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 6</b></center>    
<pre>

# Tuple

### 01) WAP to find sum of tuple elements.

In [63]:
t1 = (1,2,3,4,5)
ans =sum(t1)
print(ans)

15

### 02) WAP to find Maximum and Minimum K elements in a given tuple.

In [54]:
t1 = input("Enter the number: ").split(",")
a = tuple(int(i) for i in t1)
t2 =sorted(a)
t3 = tuple(set(t2))
n = int(input("Enter the value to find max and min: "))
print("Max is: ",t3[-n:])
print("Min is: ",t3[:n])

Enter the number: 9,8,7,6,5,4,3,2,1
Enter the value to find max and min: 2
Max is:  (8, 9)
Min is:  (1, 2)

### 03) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [75]:
k = int(input("Enter the value of K: "))
t1 = (1,2,3,4,5,6)
t2 = (2,4,6,8,10)
t3 = (3,6,9,12,15)
l1 = [t1,t2,t3]
ans = tuple(i for i in l1 if all(j%k==0 for j in i))
print(ans)

Enter the value of K: 3
((3, 6, 9, 12, 15),)

### 04) WAP to create a list of tuples from given list having number and its cube in each tuple.

In [77]:
l1 = [1,2,3,4,5,6,7,8,9,10]
ans = [(i,i**3) for i in l1]
print(ans)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216), (7, 343), (8, 512), (9, 729), (10, 1000)]

### 05) WAP to find tuples with all positive elements from the given list of tuples.

In [78]:
t1 = (1,-2,3,4,-5,6)
t2 = (2,4,-6,8,-10)
t3 = (3,6,9,12,15)
l1 = [t1,t2,t3]
ans = tuple(i for i in l1 if all(j>0 for j in i))
print(ans)

((3, 6, 9, 12, 15),)

### 06) WAP to add tuple to list and vice â€“ versa.

In [99]:
l1 = [(1),(2),(3),(4),(5)]
t1 = (6,9,8,54)

l1.extend(t1)
print("Add List to Tuple:",l1)

t2 = tuple(l1)
print("Add Tuple to List:",t2)

Add List to Tuple: [1, 2, 3, 4, 5, 6, 9, 8, 54]
Add Tuple to List: (1, 2, 3, 4, 5, 6, 9, 8, 54)

### 07) WAP to remove tuples of length K.

In [104]:
t1 = (1,2,3,4,5,6,10,50,60,40,45,20)
t2 = (2,4,6,8,10)
t3 = (3,6,9,12,15,25,98,94)
t4 = (3,2,15,25,98,94)
l1 = [t1,t2,t3,t4]
k = int(input("Enter the Index: "))
ans = tuple(i for i in l1 if all(len(i)!=k for j in i))
print(ans)

Enter the Index: 6
((1, 2, 3, 4, 5, 6, 10, 50, 60, 40, 45, 20), (2, 4, 6, 8, 10), (3, 6, 9, 12, 15, 25, 98, 94))

### 08) WAP to remove duplicates from tuple.

### 09) WAP to multiply adjacent elements of a tuple and print that resultant tuple.

### 10) WAP to test if the given tuple is distinct or not.